.timeline {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
}

.timeline-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 20px;
}

.timeline-item {
  flex: 1;
  text-align: center;
  position: relative;
}

/* CIRCLE */
.timeline-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.circle-active {
  background: #22c55e;
  color: white;
}

.circle-inactive {
  background: #e5e7eb;
}

.check-icon {
  font-size: 16px;
  color: white;
}

.timeline-line {
  position: absolute;
  top: 16px; 
  left: calc(50% + 16px); 
  width: calc(100% - 32px);
  height: 2px;
  z-index: 1;
}

.line-active {
  background: #22c55e;
}

.line-inactive {
  background: #e5e7eb;
}

.timeline-text {
  margin-top: 12px;
}

.step-label {
  font-weight: 600;
  font-size: 14px;
  margin: 0;
}

.step-date {
  font-size: 12px;
  color: #8a8795;
  margin-top: 4px;
}
/* responsive starts */
@media (max-width: 568px) {
  .timeline-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .timeline-item {
    display: flex;
    align-items: flex-start;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 30px;
  }

  .timeline-circle {
    margin: 0;
    position: relative;
  }

  .timeline-line {
    position: absolute;
    left: 35px; 
    top: 32px; 
    width: 2px;
    height: 100%;
  }
  

  .timeline-text {
    margin-left: 15px;
    margin-top: 0;
  }

  .step-label {
    font-size: 15px;
  }
}
